html {
    font-family: georgia;
    background-color: rgb(163, 202, 243);
    font-size: 16.5px;
}

.main_text {
    font-family: georgia;
    font-size: 14.3px;
    line-height: 1.7;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: justify;
}

.voorblad {
    font-family: georgia;
    font-size: 14.3px;
    line-height: 1.7;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center; 
}

blockquote{
    font-family: georgia;
    font-size: 14.3px;
    background-color: white;
    color: black;
}


.voetnoot {
    padding: 10px;
    margin-left: 7px;
    margin-right:7px;
    margin-top:20px;
    font-family: georgia;
    font-size: 13.7px;
    background-color: rgb(227, 238, 245);
    color: black;
    line-height: 1.6;
}

.comment {
    padding: 10px;
    margin-right: 7px;
    margin-left: 7px;
    font-family: georgia;
    font-size: 14.3px;
    line-height: 1.7;
    background-color: rgb(227, 238, 245);
    color: black;
}

.commentbox {
    padding: 5px;
    margin-right: 7px;
    margin-left: 7px;
    font-family: georgia;
    font-size: 14.3px;
    background-color: rgb(227, 238, 245);
    color: black;
    float: bottom;
}

.button_left {
    float: left;
    display: inline-block; 
    color: black; 
    text-align: center; 
    font-family: georgia;
    font-size: 14.4px;
    color: black;
}

.button_right {
    float: right;
    display: inline-block; 
    color: black; 
    text-align: center; 
    font-family: georgia;
    font-size: 14.4px;
    color: black;
}

img {
    padding-left: 10px;
    padding-top: 10px;
}

.extern {
    color: green;
    text-decoration:none;
}

.extern:visited {
    color: green;
}

a:visited {
    color: purple;
  }


input {
    margin-bottom: 2%;
}

table {
    border-collapse: collapse;
}

td, th {
    padding-left: 2%;
    padding-right: 2%;
}

form {
    padding-left: 2%;
    padding-right: 2%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  background-color: whitesmoke;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

li a:hover {
  background-color: #aeabab;
}

